<!DOCTYPE html>
<html lang="en">

<head>

    <title>Document</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>
    <div class="container">
        <header class="nav_header">
            <nav class="nav clearfix">
                <ul class="child clearfix">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                </ul>
            </nav>
        </header>

        <img src="slike/slika.jpg" class="photo">

        <main class="content clearfix">
            <aside class="right_div">
                <ul>
                    <li>
                        <a href="#">Rebuilding slack.com</a>
                        <hr>
                    </li>
                    <li>
                        <a href="#">Zasto bootcamp format?</a>
                        <hr>
                    </li>
                    <li>
                        <a href="#">React-prozor u svet web aplikacija</a>
                        <hr>
                    </li>
                    <li>
                        <a href="#">Najvece zablude o programerima u Srbiji</a>
                        <hr>
                    </li>
                </ul>
            </aside>

            <article class="parent_div">
                <div class="red box">
                    <a href="https://placeholder.com">
                        <img src="http://via.placeholder.com/300x200/AC3120">
                    </a>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, placeat reprehenderit accusantium aperiam sapiente consequatur
                    sequi culpa quos adipisci illum saepe, architecto labore dolor voluptate, aliquid sunt est? Nesciunt,
                    totam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias consectetur minima ex, quisquam
                    expedita facere quo corporis quia adipisci delectus. Cum minima iusto rerum ullam tenetur non quo aut
                    suscipit!
                </p>
            </article>

            <article class="parent_div">
                <div class="blue box">
                    <a href="https://placeholder.com">
                        <img src="http://via.placeholder.com/300x200/31698A">
                    </a>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, placeat reprehenderit accusantium aperiam sapiente consequatur
                    sequi culpa quos adipisci illum saepe, architecto labore dolor voluptate, aliquid sunt est? Nesciunt,
                    totam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias consectetur minima ex, quisquam
                    expedita facere quo corporis quia adipisci delectus. Cum minima iusto rerum ullam tenetur non quo aut
                    suscipit!
                </p>
            </article>

            <article class="parent_div bbox">
                <div class="yellow box">
                    <a href="https://placeholder.com">
                        <img src="http://via.placeholder.com/300x200/FCCF40">
                    </a>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, placeat reprehenderit accusantium aperiam sapiente consequatur
                    sequi culpa quos adipisci illum saepe, architecto labore dolor voluptate, aliquid sunt est? Nesciunt,
                    totam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias consectetur minima ex, quisquam
                    expedita facere quo corporis quia adipisci delectus. Cum minima iusto rerum ullam tenetur non quo aut
                    suscipit!
                </p>
            </article>

            <article class="parent_div">
                <div class="green box">
                    <a href="https://placeholder.com">
                        <img src="http://via.placeholder.com/300x200/2BCC7B">
                    </a>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, placeat reprehenderit accusantium aperiam sapiente consequatur
                    sequi culpa quos adipisci illum saepe, architecto labore dolor voluptate, aliquid sunt est? Nesciunt,
                    totam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias consectetur minima ex, quisquam
                    expedita facere quo corporis quia adipisci delectus. Cum minima iusto rerum ullam tenetur non quo aut
                    suscipit!
                </p>
            </article>

            <article class="parent_div">
                <div class="red box">
                    <a href="https://placeholder.com">
                        <img src="http://via.placeholder.com/300x200/AC3120">
                    </a>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, placeat reprehenderit accusantium aperiam sapiente consequatur
                    sequi culpa quos adipisci illum saepe, architecto labore dolor voluptate, aliquid sunt est? Nesciunt,
                    totam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias consectetur minima ex, quisquam
                    expedita facere quo corporis quia adipisci delectus. Cum minima iusto rerum ullam tenetur non quo aut
                    suscipit!
                </p>
            </article>

            <article class="parent_div">
                <div class="blue box">
                    <a href="https://placeholder.com">
                        <img src="http://via.placeholder.com/300x200/31698A">
                    </a>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, placeat reprehenderit accusantium aperiam sapiente consequatur
                    sequi culpa quos adipisci illum saepe, architecto labore dolor voluptate, aliquid sunt est? Nesciunt,
                    totam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias consectetur minima ex, quisquam
                    expedita facere quo corporis quia adipisci delectus. Cum minima iusto rerum ullam tenetur non quo aut
                    suscipit!
                </p>
            </article>

            <article class="parent_div">
                <div class="yellow box">
                    <a href="https://placeholder.com">
                        <img src="http://via.placeholder.com/300x200/FCCF40">
                    </a>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, placeat reprehenderit accusantium aperiam sapiente consequatur
                    sequi culpa quos adipisci illum saepe, architecto labore dolor voluptate, aliquid sunt est? Nesciunt,
                    totam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias consectetur minima ex, quisquam
                    expedita facere quo corporis quia adipisci delectus. Cum minima iusto rerum ullam tenetur non quo aut
                    suscipit!
                </p>
            </article>

            <article class="parent_div">
                <div class="green box">
                    <a href="https://placeholder.com">
                        <img src="http://via.placeholder.com/300x200/2BCC7B">
                    </a>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, placeat reprehenderit accusantium aperiam sapiente consequatur
                    sequi culpa quos adipisci illum saepe, architecto labore dolor voluptate, aliquid sunt est? Nesciunt,
                    totam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias consectetur minima ex, quisquam
                    expedita facere quo corporis quia adipisci delectus. Cum minima iusto rerum ullam tenetur non quo aut
                    suscipit!
                </p>
            </article>
    </div>
    </main>
    <footer class="footer">
        <p>Bit Student</p>
    </footer>




</body>

</html>