.container {
    width: 960px;
    margin: 0 auto;
}

.nav {
   
    background-color: darkred;
   
}
.clearfix::before,
.clearfix::after  {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.nav ul {
    float: right;
}

.nav ul li{
    display: block;
    float: left;
    margin:0 15px; 
    
}
 li a {
     color: white;
     text-decoration: none;

 }

 .photo {
     display: block;
     margin-top: 5px;
     margin-bottom: 5px;
     width: 960px;
 }

 .right_div {
     background-color: yellow;
     float: right;
     width: 200px;
 }

 .right_div ul li a {
     color: black;
     text-decoration: none;
 }

 .right_div ul li{
    list-style-type: none;
 }
 .parent_div{
     width: 300px;
     float: left;
     margin: 10px;
 }
.box{
    width: 300px;
    height: 200px;
}
 .blue {
     background-color: darkblue;

 }
 .red {
    background-color: darkred;
 }

 .green {
    background-color: mediumaquamarine;
 }

 .yellow {
     background-color: yellow;
 }



