.nav_header {
    background-color: darkred;
}

.container {
    width: 960px;
    margin: 0 auto;   
}
.clearfix::before,
.clearfix::after  {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.nav ul {
    float: right;
}

.nav ul li{
    display: block;
    float: left;
    margin:0 15px; 
    
}
 li a {
     color: white;
     text-decoration: none;

 }

 .photo {
     display: block;
     margin-top: 5px;
     margin-bottom: 5px;
     width: 960px;
 }

 .right_div {
     background-color: #FCCF40;
     float: right;
     width: 300px;
 }
 

 .right_div ul li a {
     color: black;
     text-decoration: none;
     font-size: 20px;
 }

 .right_div ul li{
    list-style-type: none;
    margin-left: -20px;
    padding: 5px;
 }
 .parent_div{
     width: 300px;
     float: left;
     margin: 10px;
 }
.box {
    float: left;
}
 .bbox {
     clear: left;
 }

 .footer {
     background-color: #31698A;
     color: white;
     height: 40px;
     width: 1200px;
     margin: 0 auto;
 }
 .footer p {
     margin-left: 130px;
     line-height: 40px;
 }




